.back-btn:hover {
    transform: scale(1.1);  
    transition: 300ms linear all;
}
.info-g-bg {
    position: relative; 
    background-color: #6F8EA9; 
    height: 100vh; 
}
.title {
    position: absolute; 
    top: 10px; 
    left: 6%;
    opacity: 0;
    transition: all .4s ease;
}
.one {
    position: absolute; 
    right: 8px; 
    top: 100px;
    opacity: 0;
    transition: all .4s ease;
}

.two {
    position: absolute; 
    left: 5%;
    top: 20%;
    opacity: 0;
    transition: all .4s ease;
}
.three {
    position: absolute; 
    right: 5%;
    top: 35%;
    opacity: 0;
    transition: all .4s ease;
}
.tardis {
    position: absolute; 
    bottom: 5%;
    left: 40%;
    opacity: 0;
    transition: all .4s ease;
}
.appear {
    opacity: 1;
}

@media all and (min-width: 425px) and (max-width: 920px) {

.back-btn {
    bottom: 58px !important;
    left: 70% !important;
    font-size: 24px;
}

.title {
    height: 16%;
    left: 16%;
}
.one {
    right: 140px;
    top: 171px;
    height: 20%;
}

.two {
    left: 100px;
    top: 210px;
    height: 66%;
}
.three {
    right: 65px;
    top: 353px;
    height: 20%;
}
.tardis {
    top: 361px;
    left: 40%;
    height: 50%;
} 

}



@media all and (min-width: 920px) {
    .back-btn {
        bottom: 50px !important;
        left: 14% !important;
        font-size: 24px;
    }
    
    .title {
        left: 26%;
        height: 18%;
    }
    .one {
        height: 23%; 
        left: 10%;
        top: 155px;  
    }
    
    .two {
        left: 36%;
        top: 161px;
        height: 75%;
    }
    .three {
        right: 5%;
        top: 125px;
        height: 22%
    }
    .tardis {
        top: 30%;
        height: 70%;
        left: 60%;
    } 


}

@media all and (min-width: 1300px) {
.title {
    left: 30%;
}
.tardis {
    height: 65%;
}
.three {
    right: 18%;
    top: 5%;
}
}
