.landing-enter {
    font-family: 'Futura';
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-bottom: 10px;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.landing-enter>p {
    text-align: right;
    padding-right: 10px; 
    color: #ffffff;
}

.landing-enter>img {
    height: 36px;
    /* padding-top: 2px; */
    cursor: pointer;
}

.landing-tardis-box {
    height: 90%;
    display: flex;
    justify-content: center;
}

.landing-tardis {
    height: 90%;
    width: auto;
    margin: 0 auto;
    /* margin-top: 0; */
    /* padding-top: 8%; */
    position: relative;
    animation: floating 6s infinite alternate ease-in-out;
    opacity: 0;
    transition: all .6s ease;
}

.question-btn-box {
    position: absolute;
    padding: 20px;
    z-index: 2;
    margin-top: 100%;
    background-color: #0563B6;
    height: 155px;
    /* width: 55%; */
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #021D34;
    opacity: 0.96;
    opacity: 0;
    transition: all .6s ease;
}
.appear {
    opacity: 1;
}

.random-btn-text {
position: absolute;
color: #ffffff;
font-family: 'Futura';
padding-top: 55px;
    font-size: 24px;
    text-align: right;
    line-height: 33px;
}

.question-mark {
    position: relative;
    padding-left: 120px;
    z-index: 2;
    height: 150px;
}
@media all and (min-width: 320px) and (max-width: 490px) {
    .question-btn-box {
        margin-top: 75%;
    }
}

@media all and (min-width: 490px) and (max-width: 590px) {
    .question-btn-box {
        margin-top: 60%;
    }
}

@media all and (min-width: 590px) and (max-width: 690px) {
    .question-btn-box {
        margin-top: 55%;
    }
}

@media all and (min-width: 690px) and (max-width: 790px) {
    .question-btn-box {
        margin-top: 45%;
    }
}

@media all and (min-width: 790px) and (max-width: 920px) {
    .question-btn-box {
        margin-top: 40%;
    }
}
@media all and (min-width: 920px) {

.question-btn-box {
    margin-top: 30%;
    height: 155px;
}

.random-btn-text {
padding-top: 55px;
    font-size: 24px;
    text-align: right;
    line-height: 33px;
}

.question-mark {
    position: relative;
    padding-left: 120px;
    height: 150px;
}

}