.landing-enter {
    font-family: 'Futura';
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-bottom: 10px;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.landing-enter>p {
    text-align: right;
    padding-right: 10px; 
    color: #ffffff;
}

.landing-enter>img {
    height: 36px;
    cursor: pointer;
}
.landing-enter>p:hover {
    transform: scale(1.1);    
    transition: 300ms linear all;   
    cursor: pointer;
}
.landing-enter>img:hover {
    transform: scale(1.1);    
    transition: 300ms linear all;   
}
.question-btn-box:hover {
    opacity: 0.8;
}
.info-btn:hover {
    transform: scale(1.1);    
    transition: 300ms linear all;   
}


.landing-tardis-box {
    height: 90%;
    display: flex;
    justify-content: center;
    /* opacity: 0;
    transition: all .6s ease; */
}

.door1 {
    position: absolute;
    /* height: 326px;
    left: 59px;
    top: 189px; */
    opacity: 0;
    transition: all .6s ease;
    animation: floating 6s infinite alternate ease-in-out;
    transform-origin: left;
    height: 330px;
    left: 57px;
    top: 183px;
}

.door2 {
    position: absolute;
    /* height: 326px;
    right: 59px;
    top: 189px; */
    opacity: 0;
    transition: all .6s ease;
    animation: floating 6s infinite alternate ease-in-out;
    transform-origin: right;
    height: 330px;
    right: 59px;
    top: 183px;
}

.question-btn-box {
    position: absolute;
    padding: 20px;
    z-index: 3;
    margin-top: 75%;
    /* background-color: rgba(5, 99, 182, 0.1); */
    height: 155px;
    border-radius: 20px;
    cursor: pointer;
    /* box-shadow: 1px 1px 1px #021D34; */
    opacity: 0;
    transition: all .6s ease;
}
.landing-tardis {
    height: 85%;
    /* width: auto; */
    margin: 0 auto;
    bottom: 33px;
    right: 39px;
    position: fixed;
    animation: floating 6s infinite alternate ease-in-out;
    opacity: 0;
    transition: all .4s ease;
}

.appear {
    opacity: 1;
}

/* @keyframes open1 {
    from {
    } 70% {
    transform: perspective(1200px) 
    translateZ(0px) translateX(0px) 
    translateY(0px) rotateY(75deg);
    } to {  
    }
} */
/* @keyframes materialise2 {
    0% { opacity: 100%; }
    50% { opacity: 0.1; }
    100% { opacity: 100%; }
    } */

        @keyframes open2 {
            from { } 
            to {
            transform: perspective(1200px) 
            translateZ(0px) translateX(0px) 
            translateY(0px) rotateY(-95deg);
            }
        }
        
        @keyframes open1 {
            from { } 
            to {
            transform: perspective(1200px) 
            translateZ(0px) translateX(0px) 
            translateY(0px) rotateY(95deg);
            }
        }

          @keyframes leave {
        0% { opacity: 1; }
        100% { 
            opacity: 0; 
            display: none;
        }
        }

        @keyframes scale {
            from { 
                transform: none;
            }
            to {
                transform: 
                scale(15)
                translateY(-80px)
                translateX(-30px)
                rotate(5deg);
                opacity: 0;
            }
        } 

        .scale {
            animation: scale 3s 2s 1 ease-in-out forwards;
        }

    .leave {
    animation: leave 1s 1 forwards;
    } 


.door1Open {
    animation: open1 3s forwards, leave .1s 2s 1 forwards;
}

.door2Open {
    animation: open2 3s forwards, leave .1s 2s 1 forwards;
}

.random-btn-text {
    position: absolute;
    color: #ffffff;
    font-family: 'Futura';
    padding-top: 53px;
    font-size: 24px;
    text-align: right;
    line-height: 33px;
}

.question-mark {
    position: relative;
    padding-left: 130px;
    z-index: 2;
    height: 150px;
}

@media all and (min-width: 325px) and (max-width: 920px) {
    .question-btn-box {
        position: relative;
        margin-top: 75%;
        margin-left: 480px;
        height: 160px;
        width: 215px;
        padding: 30px;
    }
    .landing-tardis {
        right: 155px;
        bottom: 60px;
    }

    .door2 {
        height: 590px;
        right: 188px;
        top: 329px;
    }
    .door1 {
        height: 590px;
        left: 216px;
        top: 329px; 
    }
    .landing-enter {
        padding: 30px;
    }
    .landing-enter>p {
        font-size: 24px;
        line-height: 25px;
    }
    .landing-enter>img {
        height: 50px;
    }
    
    .info-btn {
        bottom: 3% !important;
        font-size: 22px !important;
        margin-left: 10px;    
    }
}
@media all and (min-width: 920px) {

.question-btn-box {
    margin-top: 30%;
    margin-left: 300px;
    height: 160px;
    width: 215px;
    padding: 30px;
}

.random-btn-text {
    padding-top: 55px;
    font-size: 24px;
    text-align: right;
    line-height: 33px;
    padding-left: 5px;
}

.question-mark {
    position: relative;
    padding-left: 140px;
    height: 150px;
}
.landing-enter {
    font-size: 24px;
    line-height: 25px;
    padding: 30px;
}
.landing-enter>img {
    height: 50px;
}

.info-btn {
    bottom: 3% !important;
    font-size: 22px !important;    
}
.landing-tardis {
    margin-right: 30%;
    margin-bottom: 4%;
}
.door2 {
    height: 58%;
    right: 36.5%;
    top: 28%;
}
.door1 {
    height: 58%;
    left: 37%;
    top: 28%;
}

}

@media all and (min-width: 1300px) {
    .landing-tardis {
        margin-right: 36%;
        margin-bottom: 4%;
    }
    .door2 {
        height: 57.5%;
        /* right: 39.4%; */
        right: 555px;
        top: 205px;
    }
    .door1 {
        height: 57.5%;
        /* left: 40.7%; */
        left: 543px;
        top: 205px;
    }
    .question-btn-box {
        margin-top: 22%;
        margin-left: 180px;
        /* margin-right: 5px; */
        height: 160px;
        width: 215px;
        padding: 30px;
    }

}

@media all and (min-width: 1400px) {
    .landing-tardis {
        margin-right: 36%;
        margin-bottom: 4%;
    }
    .door2 {
        height: 424px;
        right: 584px;
        top: 186px;        
    }
    .door1 {
        height: 424px;
        left: 596px;
        top: 185px;
    }
    .question-btn-box {
        margin-left: 200px;
    }

}
