.landing-enter {
    font-family: 'Futura';
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    padding-bottom: 10px;
    color: #ffffff;
    position: relative;
    z-index: 2;
}

.landing-enter>p {
    text-align: right;
    padding-right: 10px; 
    color: #ffffff;
}

.landing-enter>img {
    height: 36px;
    cursor: pointer;
}

.landing-tardis-box {
    height: 90%;
    display: flex;
    justify-content: center;
    opacity: 0;
    transition: all .6s ease;
}

.door1 {
    position: absolute;
    /* height: 326px;
    left: 59px;
    top: 189px; */
    opacity: 0;
    transition: all .6s ease;
    animation: floating 6s infinite alternate ease-in-out;
    transform-origin: left;
    height: 330px;
    left: 57px;
    top: 184px;
}

.door2 {
    position: absolute;
    /* height: 326px;
    right: 59px;
    top: 189px; */
    opacity: 0;
    transition: all .6s ease;
    animation: floating 6s infinite alternate ease-in-out;
    transform-origin: right;
    height: 330px;
    right: 59px;
    top: 184px;
}

.question-btn-box {
    position: absolute;
    padding: 20px;
    z-index: 3;
    margin-top: 100%;
    background-color: rgba(5, 99, 182, 0.795);
    height: 155px;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #021D34;
    opacity: 0;
    transition: all .6s ease;
}
.landing-tardis {
    height: 85%;
    /* width: auto; */
    margin: 0 auto;
    bottom: 33px;
    right: 39px;
    position: fixed;
    animation: floating 6s infinite alternate ease-in-out;
    opacity: 0;
    transition: all .6s ease;
}

.appear {
    opacity: 1;
}

/* @keyframes open1 {
    from {
    } 70% {
    transform: perspective(1200px) 
    translateZ(0px) translateX(0px) 
    translateY(0px) rotateY(75deg);
    } to {  
    }
} */
/* @keyframes materialise2 {
    0% { opacity: 100%; }
    50% { opacity: 0.1; }
    100% { opacity: 100%; }
    } */

        @keyframes open2 {
            from { } 
            to {
            transform: perspective(1200px) 
            translateZ(0px) translateX(0px) 
            translateY(0px) rotateY(-95deg);
            }
        }
        
        @keyframes open1 {
            from { } 
            to {
            transform: perspective(1200px) 
            translateZ(0px) translateX(0px) 
            translateY(0px) rotateY(95deg);
            }
        }

          @keyframes leave {
        0% { opacity: 1; }
        100% { 
            opacity: 0; 
            display: none;
        }
        }

        @keyframes scale {
            from { 
                transform: none;
            }
            to {
                transform: 
                scale(20)
                translateX(10px)
                rotate(-5deg)
                translateY(-30px);
                opacity: 0;
            }
        } 

        .scale {
            animation: scale 3s 2s 1 ease-in-out forwards;
        }

    /* .interior {
        position: absolute;
        left: 62px;
        top: 205px;
        height: 296px;
        z-index: 0;
        opacity: 0;
        transition: all .3s ease;
    } */
    .leave {
    animation: leave 1s 1 forwards;
    } 

/* .tardis-anim {
    animation: materialise2 2s 4s 3 alternate ease-in-out;
}  */

.door1Open {
    animation: open1 3s forwards, leave .1s 2s 1 forwards;
    /* animation: open1 5s ease-in-out, materialise2 2s 4s 3 alternate ease-in-out; */
}

.door2Open {
    animation: open2 3s forwards, leave .1s 2s 1 forwards;

}

/* .btn-leave {
    opacity: 1;
} */


.random-btn-text {
    position: absolute;
    color: #ffffff;
    font-family: 'Futura';
    padding-top: 55px;
    font-size: 24px;
    text-align: right;
    line-height: 33px;
}

.question-mark {
    position: relative;
    padding-left: 120px;
    z-index: 2;
    height: 150px;
}

@media all and (min-width: 320px) and (max-width: 490px) {
    .question-btn-box {
        margin-top: 75%;
    }
}

@media all and (min-width: 490px) and (max-width: 590px) {
    .question-btn-box {
        margin-top: 60%;
    }
}

@media all and (min-width: 590px) and (max-width: 690px) {
    .question-btn-box {
        margin-top: 55%;
    }
}

@media all and (min-width: 690px) and (max-width: 790px) {
    .question-btn-box {
        margin-top: 45%;
    }
}

@media all and (min-width: 790px) and (max-width: 920px) {
    .question-btn-box {
        margin-top: 40%;
    }
}
@media all and (min-width: 920px) {

.question-btn-box {
    margin-top: 30%;
    height: 155px;
}

.random-btn-text {
padding-top: 55px;
    font-size: 24px;
    text-align: right;
    line-height: 33px;
}

.question-mark {
    position: relative;
    padding-left: 120px;
    height: 150px;
}

}