
.menu-bg {
    background-color: #6F8EA9;
    height: 100vh;
    width: 100vw;
    /* overflow-y: hidden; */
}

.menu-items {
    font-family: 'Futura';
    font-size: 24px;
    line-height: 20px;
    color: #ffffff;
    text-align: center;
}

.menu-note {
    width: 100%;
    background-color: #8BA3B8;
    margin-top: 10px;
    height: 400px;
}

.line2 {
    position: absolute;
    background-color: #2B455C;
    width: 5px;
    height: 400px;
    left: 0;
}

.menu-exit {
    font-family: 'Futura';
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.menu-exit>p{
    text-align: right;
    padding-right: 10px; 
    font-family: 'Futura';
    color: #021D34;
    cursor: pointer;
}

.menu-exit>img {
    height: 36px;
    padding-top: 2px;
    cursor: pointer;
}
.menu-exit>p:hover {
     transform: scale(1.1);  
     transition: 300ms linear all;   

}
.menu-exit>img:hover {
    transform: scale(1.1);  
    transition: 300ms linear all;   
}

.menu-h3 {
    background-color: #8BA3B8;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.menu-h3>h3:hover {
    color: #F2F2F2;
}
.menu-h3>h3:active {
    color: #E5E5E5;
    transform: translateY(1px) translateX(1px);
}
.line {
    position: absolute;
    background-color: #2B455C;
    width: 5px;
    height: 50px;
    left: 0;
}


.menu-note>h3 {
    padding-top: 15px;
    padding-bottom: 5px;
}


.menu-note>input {
    border-radius: 20px;
    text-align: center;
    display: flex;
    margin: auto;
    padding: 5px 5px;
    width: 75%;
    height: 30px;
    margin-top: 6px;
}

.menu-note>textarea {
    border-radius: 20px;
    padding: 5px 5px;    
    margin-top: 6px;
    width: 75%;
    height: 180px;
    margin-bottom: 10px;
}

.menu-save {
    background-color: #2B455C;
    height: 32px;
    border-radius: 20px;
    width: 78%;
    padding: 1px 5px;    
    text-align: center;
    margin: auto;
    color: #ffffff;
    font-size: 24px;
    cursor: pointer;
}

.menu-save:hover {
    background: #33526D;
}
.menu-save:active {
    background: #23384B;
    transform: translateY(1px) translateX(1px);
}

.logout {
    top: 30px;
    left: 25px;
    position: absolute;
}

.logout-btn {
    font-family: 'Futura';
    font-size: 14px;
    line-height: 20px;
    color: #2B455C;
}

.menu-h3.logout>h3:hover {
    color: #33526D;
}
.menu-h3.logout>h3:active {
    color: #23384B;
    transform: translateY(1px) translateX(1px);
}

@media all and (min-width: 425px) and (max-width: 920px){

/* @media all and (min-width: 768px) { */

    .menu-note>textarea {
        width: 60%;
        height: 350px;
    margin-top: 10px;

    }

    .menu-note>input {
    width: 60%;
    height: 40px;
    margin-top: 10px;

    }
    .menu-note {
        height: 750px;
        margin-top: 20px;
    }

    .line2 {
        height: 750px;
    }
    .menu-save {
        width: 62%;
        height: 40px;
        margin-top: 10px;
        display: block;

    }
    .menu-exit {
        padding-right: 40px;
        padding-top: 30px;

    }
    
    .menu-exit>p {
        font-size: 24px;
        line-height: 26px;
    }
    
    .menu-exit>img {
        height: 50px;
    }
    
    .logout-btn {
        padding-left: 25px;
        padding-top: 15px;
        font-size: 24px;
    }
    .menu-h3 {
        margin-top: 20px;
        font-size: 28px;
        height: 70px;
    }
.line {
    height: 70px;

}
    .menu-note>h3 {
        font-size: 28px;
        padding-bottom: 15px;
    }
}

@media all and (min-width: 920px) {
    .menu-save {
        width: 76%;
    }

    .menu-note>h3 {
    padding-top: 10px;
    }

    .menu-note {
        height: 595px;

    }
    .line2 {
        height: 595px;
    }

    .menu-h3.logout {
        bottom: 8px;
    }

.menu-note>textarea {
    height: 350px;
    margin-bottom: 10px;
    margin-top: 10px;

}
.menu-note>input {
    margin-top: 8px;
}

.menu-exit {
    padding-right: 40px;
}

.menu-exit>p {
    font-size: 24px;
    line-height: 26px;
}

.menu-exit>img {
    height: 50px;
}

.logout-btn {
    padding-left: 20px;
    padding-top: 5px;
    font-size: 24px;
}


}
