@keyframes floating {
    0% { transform: translate(0px, -0px); }
    45% { transform: translate(2px, 4px); }
    65% { transform: translate(3px, 2px); }
    85% { transform: translate(-3px, 6px); }
    100% { transform: translate(0px, -0px); } 
}

    @keyframes materialise {
    0% { opacity: 100%; }
    50% { opacity: 0.1; }
    100% { opacity: 100%; }
    }

.space-bg {
    background-color: #021D34;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.home-tardis-box {
    height: 80%;
    display: flex;
    justify-content: center;
}
.home-tardis-box>p:hover {
    transform: scale(1.1); 
    transition: 300ms linear all;
}

.home-tardis {
    height: 70vh;
    width: auto;
    margin: 10px auto;
    margin-top: 15px;
    position: relative;
    animation: materialise 2s 5 alternate ease-in-out, floating 6s 10s infinite alternate ease-in-out;
}

.home-heading h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Futura';
    font-size: 38px;
    padding-top: 5%;
    line-height: 45px;
    display: flex;
    justify-content: center;
}

.button>img {
    position: absolute;
    width: 130px;
    left: 20px;
}

.button>img:hover {
    transform: rotate(-25deg); 
    transition: 300ms linear all;
}

.button {
    cursor: pointer;
    position: absolute;
    top: 370px;
    transform: rotate(15deg);
}

@media all and (min-width: 425px) and (max-width: 920px){

    .button>img {
        top: 200px;
        left: 90px;
        width: 175px;
    }
    .home-tardis-box>p {
        bottom: 20px !important;
        font-size: 24px;
    }

    .home-heading>h1 {
        font-size: 48px;
        margin: 20px auto;
    }
    /* .home-tardis {
        height: 95%;
    } */
}

@media all and (min-width: 920px) {

.button>img {
    top: 90px;
    left: 40px;
    width: 160px;
}
.home-tardis-box>p {
    bottom: 3% !important;
    font-size: 22px !important;
}
.home-tardis {
    /* height: 90%; */
    margin-top: 30px;
}
.home-heading h1 {
    font-size: 48px;
}
.button>img:hover {
    transform: rotate(-25deg)
                translateY(-35px)
                translateX(10px) ; 
    transition: 300ms linear all;
}

}

@media all and (min-height: 850px) {
    .button>img {
        /* top: 90px; */
        left: 40px;
        width: 160px;
    }
    .home-tardis-box>p {
        bottom: 3% !important;
        font-size: 22px !important;
    }
    .home-tardis {
        height: 90%;
        margin-top: 10px;
    }
    .home-heading h1 {
        font-size: 48px;
    }
}

