@keyframes floating {
    from { transform: translate(0px,  -0px); }
    45%  { transform: translate(2px, 4px); }
    65%  { transform: translate(3px, 2px); }
    85% { transform: translate(-3px, 6px); }
    to   { transform: translate(0px, -0px); } 
}

    @keyframes materialize {
    0% { opacity: 100%; }
    50% { opacity: 0; }
    100% { opacity: 100%; }
    }

.space-bg {
    background-color: #021D34;
    height: 100vh;
    width: 100vw;
    overflow-y: hidden;
}

.home-tardis-box {
    height: 80%;
    display: flex;
    justify-content: center;
}

.home-tardis {
    height: 80%;
    width: auto;
    margin: auto;
    margin-top: 20px;
    position: relative;
    animation: materialize 2s 5 alternate ease-in-out, floating 6s 10s infinite alternate ease-in-out;
}

.home-heading h1 {
    text-align: center;
    color: #ffffff;
    font-family: 'Futura';
    /* font-weight: bold; */
    font-size: 48px;
    padding-top: 5%;
    line-height: 60px;
    display: flex;
    justify-content: center;
}

.button>img {
    position: absolute;
    width: 130px;
    left: 20px;
}

.button {
    cursor: pointer;
    position: absolute;
    top: 370px;
    transform: rotate(15deg);
}

@media all and (min-width: 320px) and (max-width: 920px) and (min-height: 794px) {

    .button>img {
        top: 190px;
        left: 80px;
        width: 160px;
    
    }
}

@media all and (min-width: 920px) {

.button>img {
    top: 60px;
    left: 40px;
    width: 160px;

}
}
