.addnew-photo {
    margin-top: 6px;
    margin-bottom: 6px;
    height: 160px;
    width: auto;
    border-radius: 20px;
}

@media all and (min-width: 768px) {
    .addnew-photo {
        height: 320px;
    }
    }


@media all and (min-width: 920px) {
.addnew-photo {
    height: 400px;
}
}


