.addnew-photo {
    margin-top: 6px;
    margin-bottom: 6px;
    height: 160px;
    width: auto;
    border-radius: 20px;
}

@media all and (min-width: 768px) {
    .addnew-photo {
        height: 320px;
        margin-top: 10px;
    }
}


@media all and (min-width: 920px) {
.addnew-photo {
    height: 400px;
    margin-top: 10px;

}
}

@media all and (min-width: 1366px) {
    .menu>input {
        width: 43%;
    }
    .menu>textarea {
        width: 43%;
    }

    .menu-save {
        width: 44%;

    }

    .menu {
        height: 650px;
    }
    .line2 {
        height: 650px;

    }
}


