.menu-enter.nb {
position: absolute;
z-index: 2;
right: 0;
cursor: pointer;
}

.onenote-bg {
position: absolute;
width: 326px;
height: 631px;
left: 26px;
top: 128px;
background: #C46352;
border-radius: 20px;
}

.note {
position: absolute;
width: 280px;
height: 542px;
left: 25px;
top: 45px;
background: #BB5C4A;
border-radius: 20px;
}

.note-inputs {
position: absolute;
width: 266px;
height: 36px;
left: 5px;
top: 20px;
background: #FFFFFF;
border-radius: 20px;
}

.note-inputs2 {
position: absolute;
width: 266px;
height: 36px;
left: 5px;
top: 70px;
background: #FFFFFF;
border-radius: 20px;
}

.note-text {
    position: absolute;
    width: 266px;
    height: 322px;
    left: 5px;
    top: 120px;
    padding-top: 8px;
    background: #FFFFFF;
    border-radius: 20px;
}

.note-edit {
    position: absolute;
    width: 266px;
    height: 42px;
    left: 5px;
    top: 470px;
    background: rgba(2, 29, 52, 0.98);
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 24px;
}
.note-save {
    position: absolute;
    width: 266px;
    height: 42px;
    left: 5px;
    top: 470px;
    background: #0563B5;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 24px;
}
.delete-note {
position: absolute;
width: 125px;
height: 24px;
left: 182px;
top: 590px;
font-family: Futura;
font-weight: bold;
line-height: 22px;
font-size: 18px;
text-align: center;
color: #7F1816;
}