.no-matches-text {
    font-family: 'Futura';
    position: relative;
    top: 105px;
    color: #FFFFFF;
    font-size: 18px;
    z-index: 2;
    height: 350px;
    width: 220px;
    border-radius: 20px;
    padding: 20px;
    background-color: rgba(187, 93, 74, 0.774);
    text-align: center;
    margin-bottom: -391px;
    line-height: 26px;
}

.note-tardis {
    height: 40vh;
    position: absolute;
    top: 240px;
    left: 100px;
    z-index: 9;
    cursor: pointer;
    /* opacity: 0; */
    transition: all 1s ease;
    animation: floating 6s infinite alternate ease-in-out;
}

.appear {
    opacity: 1;
}

.leave {
    opacity: 0;
    } 

.no-matches-text>p {
    padding-top: 20px;
}

.menu-enter.nb {
    position: absolute;
    z-index: 5;
    right: 0;
    cursor: pointer;
    font-family: 'Futura';
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    padding: 5px 20px;
    color: #FFFFFF;
    text-align: right;
    cursor: pointer;
    background-color: rgba(187, 93, 74, 0.6);
    width: 100%;
}
.menu-enter.nb>p {
    padding-right: 10px;
}
.menu-enter.nb>img {
    height: 36px;
    padding-top: 2px;
    cursor: pointer;
}

.link-to-top {
    position: absolute;
    bottom: 1px;
    right: 25px;
    z-index: 10;
    cursor: pointer;	
    font-family: 'Futura';
    color: #FFFFFF;    
}

html {
    scroll-behavior: smooth;
}
.allnotes-bg {
    position: relative;
}

.filter-box {
    display: flex;
    justify-content: center;
}

#filter {
    position: absolute;
    z-index: 10;
    bottom: 10px;
    height: 32px;
    /* left: 6%; */
    border-radius: 20px;
    width: 280px;
    color: #021D34;
}
#filter:focus {
    background-color: rgba(255, 255, 255, 0.9);
}

.onenote-bg {
width: 275px;
height: 445px;
margin: 0 auto;
position: relative;
background: #C46352;
border-radius: 20px;
padding-top: 15px;
z-index: 5;
top: -490px !important;
}

.intro-box {
    position: relative;
    bottom: 0;
}

.intro-text {
    color: #FFFFFF;
    font-family: 'Futura';
    font-size: 22px;
    position: relative;
    z-index: 2;
    height: 380px;
    width: 265px;
    border-radius: 20px;
    padding: 8px;
    background-color: rgba(187, 93, 74, 0.774);
    text-align: center;
    top: 100px;
    line-height: 1.4;
    margin: auto;   
    margin-bottom: -396px;
}

.first{
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 0;
}

.note {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
margin: 5px auto;
padding-top: 8px;
width: 235px;
height: 388px;
background: #BB5C4A;
border-radius: 20px;
}

.note-inputs {
/* position: absolute; */
width: 220px;
height: 78px;
background: #FFFFFF;
border-radius: 20px;
margin-bottom: 8px;
}

.note-inputs2 {
/* position: absolute; */
width: 220px;
height: 32px;
background: #FFFFFF;
border-radius: 20px;
margin-bottom: 6px;
}

.note-text {
    width: 220px;
    height: 228px;
    padding-top: 6px;
    background: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 10px;
}

.note-edit {
    width: 225px;    
    height: 36px;
    background: rgba(2, 29, 52, 0.98);
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 24px;
}
.note-edit:hover {
    background: #032B4D;
}
.note-edit:active {
    background: #021D34;
}

.note-save {
    width: 225px;
    height: 36px;
    background: #0563B5;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 24px;
}
.note-save:hover {
    background: #0671CE;
}
.note-save:active {
    background: #04559C;
}


.delete-note {
    width: 125px;
    height: 24px;
    font-family: Futura;
    font-weight: bold;
    font-size: 18px;
    color: #7F1816;
    margin-left: auto;
    margin-right: 18px;
    cursor: pointer;    
    }
    .delete-note:hover {
        color: #951C1A;
    }
    .delete-note:active{
        transform: translateY(1px) translateX(1px);
        color: #691412;
    }

.note-photo {
    height: 150px;
    border-radius: 20px;
    margin-bottom: 8px;
}

.menu-enter.nb>img:hover {
    transform: scale(1.1);    
    transition: 300ms linear all;
}
.menu-enter.nb>p:hover {
    transform: scale(1.1);   
    transition: 300ms linear all;
}

.menu-enter.nb>img.up:hover {
    transform: scale(1.5);
    transition: 300ms linear all;
}
.menu-enter.nb>img.down:hover {
    transform: scale(1.5);
    transition: 300ms linear all;
}

@media all and (min-width: 425px) and (max-width: 920px){

.no-matches-text {
    height: 620px;
    width: 420px;
    margin-bottom: -660px;
    line-height: 30px;
    font-size: 24px;
}

.note-tardis {
    height: 48%;
    top: 30%;
    left: 30%;
}

.menu-enter.nb {
    padding: 15px;
}

.menu-enter.nb>p {
    font-size: 24px;
    line-height: 26px;
}
.menu-enter.nb>img {
    height: 50px;
    padding-right: 40px;

}
.menu-enter.nb>img.up {
    padding: 12px;
    height: 30px !important;
    left: 120px !important;
}

.menu-enter.nb>img.down {
    padding: 18px;
    height: 30px !important;
    left: 180px !important;
    top: 22px !important;
}
.intro-text {
    font-size: 24px;
    margin: auto;
    margin-bottom: -451px;
    /* top: 280px; */
    padding: 50px;
    height: 350px;
    width: 365px;
}
#filter {
/* left: 180px; */
bottom: 35px;
width: 400px;
height: 40px;
}

.onenote-bg {
top: -670px !important;
width: 580px;
height: 555px;
}

.note {
width: 510px;
height: 500px;
}
.delete-note {
margin-right: 34px;
width: 155px;
font-size: 22px;

}
.note-inputs2 {
width: 400px;
font-size: 24px;
}
.note-inputs {
width: 400px;
font-size: 24px;

}
.note-edit {
width: 400px;
}
.note-save {
width: 400px;
}

.note-photo {
height: 265px;
}

.note-text {
width: 400px;
font-size: 24px;

}
}

@media all and (min-width: 920px){

    .no-matches-text {
        height: 495px;
        width: 500px;
        margin-bottom: -536px;
        line-height: 30px;
        font-size: 24px;
    }
    
    .note-tardis {
        height: 48%;
        top: 30%;
        left: 32%;
    }

    .menu-enter.nb {
        padding: 15px;
    }

    .menu-enter.nb>p {
        font-size: 24px;
        line-height: 26px;
    }
    .menu-enter.nb>img {
        height: 50px;
        padding-right: 40px;

    }
    .menu-enter.nb>img.up {
        padding: 12px;
        height: 30px !important;
        left: 120px !important;
    }

    .menu-enter.nb>img.down {
        padding: 18px;
        height: 30px !important;
        left: 180px !important;
        top: 22px !important;
    }
    .intro-text {
        margin: auto;
        margin-bottom: -451px;
        /* top: 158px; */
        padding: 50px;
        height: 350px;
        width: 365px;
        font-size: 24px;
    }
#filter {
    /* left: 311px; */
    bottom: 20px;
    width: 400px;
    height: 40px;
}

.onenote-bg {
    top: -650px !important;
    width: 580px;
    height: 555px;
}

.note {
    width: 510px;
    height: 500px;
}
.delete-note {
    margin-right: 34px;
}
.note-inputs2 {
    width: 400px;
}
.note-inputs {
    width: 400px;
}
.note-edit {
    width: 400px;
}
.note-save {
    width: 400px;
}

.note-photo {
    height: 265px;
}

.note-text {
    width: 400px;
}

}
