.login-box {
    margin: auto;
    margin-top: 15px;
    position: relative;
    text-align: center;
    padding: 20px;
    height: 330px;
    width: 250px;
    background: #003B6F;
    border-radius: 20px;
    animation: login-float 2s infinite alternate ease-in-out;
}

@keyframes login-float {
    0% { transform: translateY(0px); }
    100% { transform: translateY(5px); } 
}

.login-text {
    color: #ffffff;
    font-family: 'Futura';
    font-size: 24px;
}

.username {
    margin: 2px 0px;
    margin-top: 8px;
    color: #000814;
    height: 20px;
    width: 230px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.password {
    margin: 2px 0px;
    margin-top: 8px;
    color: #000814;
    height: 20px;
    width: 230px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    text-align: center;

}

.login-btn {
    margin-top: 30px;
    height: 20px;
    background-color: #0563B6;
    padding: 10px;
    padding-bottom: 14px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}
.login-btn:hover {
    background: #0671CE;
}
.login-btn:active {
    background: #04559C;
    transform: translateY(1px) translateX(1px);
}

.or-text {
    margin: 10px 0px;
    padding: 10px;
    height: 20px;
}

.register-btn {
    margin-top: 10px;
    height: 20px;
    background-color: #012646;
    padding: 10px;
    padding-bottom: 14px;
    border-radius: 20px;
    cursor: pointer;
}

.register-btn:hover {
    background: #032B4D;
}
.register-btn:active {
    background: #021D34;
    transform: translateY(1px) translateX(1px);
}

.login-heading {
    text-align: center;
    color: #ffffff;
    font-family: 'Futura';
    font-size: 48px;
    padding-top: 5%;
    line-height: 60px;
    display: flex;
    justify-content: center;
}

@media all and (min-width: 325px) and (max-width: 920px) {
.login-heading {
    padding-top: 20%;
}
.login-box {
    padding: 40px;
    margin-top: 70px;
}

}

@media all and (min-width: 920px) {
    .login-heading {
        padding-top: 10%;
        font-size: 60px;
    }
    .login-box {
        top: 8%;
        padding: 30px;
    }

    @media all and (min-width: 1300px) {
        .login-heading {
            padding-top: 6%;
            font-size: 60px;
        }
        .login-box {
            top: 5%;
            padding: 30px;
        }
    }

}