.login-box {
    margin: auto;
    margin-top: 70px;
    position: relative;
    text-align: center;
    padding: 20px;
    height: 350px;
    width: 200px;
    background: #003B6F;
    border-radius: 20px;
}
.login-text {
    color: #ffffff;
    font-family: 'Futura';
    margin-top: 20px;
}

.username {
    margin: 10px 0px;
    color: #000814;
    height: 20px;
    width: 180px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.password {
    margin: 10px 0px;
    color: #000814;
    height: 20px;
    width: 180px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    text-align: center;

}

.login-btn {
    margin-top: 25px;
    height: 20px;
    width: 180px;
    background-color: #0563B6;
    padding: 12px;
    padding-top: 14px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.or-text {
    margin: 15px 0px;
    padding: 10px;
    height: 20px;
    width: 180px;
}

.register-btn {
    margin-top: 10px;
    height: 20px;
    width: 180px;
    background-color: #000814;
    padding: 12px;
    padding-top: 14px;
    opacity: 0.8;
    border-radius: 20px;
    cursor: pointer;
}

.login-heading {
    text-align: center;
    color: #ffffff;
    font-family: 'Futura';
    /* font-weight: bold; */
    font-size: 48px;
    padding-top: 15%;
    line-height: 60px;
    display: flex;
    justify-content: center;
}

@media all and (min-width: 920px) {
    .login-heading {
        padding-top: 8%;
    }



}