.login-box {
    margin: auto;
    margin-top: 15px;
    position: relative;
    text-align: center;
    padding: 20px;
    height: 330px;
    width: 250px;
    background: #003B6F;
    border-radius: 20px;
    animation: floating 6s infinite alternate ease-in-out;
}
.login-text {
    color: #ffffff;
    font-family: 'Futura';
    margin-top: 10px;
    font-size: 24px;
}

.username {
    margin-bottom: 10px;
    margin-top: 0px;
    color: #000814;
    height: 20px;
    width: 230px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
}

.password {
    margin: 10px 0px;
    color: #000814;
    height: 20px;
    width: 230px;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 20px;
    text-align: center;

}

.login-btn {
    margin-top: 25px;
    height: 20px;
    /* width: 210px; */
    background-color: #0563B6;
    padding: 10px;
    padding-bottom: 14px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}

.or-text {
    margin: 20px 0px;
    padding: 10px;
    height: 20px;
    /* width: 180px; */
}

.register-btn {
    margin-top: 10px;
    height: 20px;
    /* width: 180px; */
    background-color: #012646;
    padding: 10px;
    padding-bottom: 14px;
    border-radius: 20px;
    cursor: pointer;
}

.login-heading {
    text-align: center;
    color: #ffffff;
    font-family: 'Futura';
    /* font-weight: bold; */
    font-size: 48px;
    padding-top: 8%;
    line-height: 60px;
    display: flex;
    justify-content: center;
}

@media all and (min-width: 920px) {
    .login-heading {
        padding-top: 8%;
    }



}