body {
    background-color: #021D34;
}

input {
    border: none;
    outline: none;
    font-size: 18px;
    color: #021D34;
    font-family: 'Futura';
    text-align: center;
}

input:focus {
    background-color: rgb(220, 221, 224);
}

textarea {
    border: none;
    outline: none;
    font-size: 18px;
    color: #021D34;
    font-family: 'Futura';
    text-align: center;
}
textarea:focus {
    background-color: rgb(220, 221, 224);
}

button {
    border: none;
    outline: none;
    font-family: 'Futura';
}

/* button:hover {
} */

/* button:active {
} */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Futura';
    cursor: pointer;	

}

::-webkit-scrollbar {
    height: 0px; 
} 

.swal2-popup .swal2-title {
    font-family: 'Futura';
    color: #ffffff !important;

}
.swal2-popup #swal2-content {
    font-family: 'Futura';
    color: #ffffff;

}
.swal2-popup .swal2-styled.swal2-confirm {
    font-family: 'Futura';

}

.swal2-popup .swal2-styled.swal2-cancel {
    font-family: 'Futura';
    width: 188px;
}

.swal2-popup {
    background: #003B6F !important;
}
