body {
    background-color: #021D34;
}

/* .fade-enter {
    opacity: 0;
    /* z-index: 1; */
  /* } */
  
  /* .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 250ms ease-in;
  } */ 

.fade-appear,
.fade-enter {
  opacity: 0;
}

.fade-appear-active,
.fade-enter-active {
  transition: opacity .3s ease-in-out;
  opacity: 1;
}

.fade-exit {
  transition: opacity .2s ease-in-out;
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}

input {
    border: none;
    outline: none;
    font-size: 18px;
    color: #021D34;
    font-family: 'Futura';
    text-align: center;
}

input:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

textarea {
    border: none;
    outline: none;
    font-size: 18px;
    color: #021D34;
    font-family: 'Futura';
    text-align: center;
}
textarea:focus {
    background-color: rgba(255, 255, 255, 0.8);
}

input::placeholder {
    color: #333333;
}

textarea::placeholder {
    color: #333333;
}

button {
    border: none;
    outline: none;
    font-family: 'Futura';
}

/* button:hover {
} */

/* button:active {
} */
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
    color: #ffffff;
    font-family: 'Futura';
    cursor: pointer;	

}

::-webkit-scrollbar {
    height: 0px; 
} 

.swal2-popup .swal2-title {
    font-family: 'Futura';
    color: #ffffff !important;

}
.swal2-popup #swal2-content {
    font-family: 'Futura';
    color: #ffffff;

}
.swal2-popup .swal2-styled.swal2-confirm {
    font-family: 'Futura';

}

.swal2-popup .swal2-styled.swal2-cancel {
    font-family: 'Futura';
    width: 188px;
}

.swal2-popup {
    background: #003B6F !important;
    border-radius: 20px !important;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
