.map-bg {
    background-color: #003B6F;
    /* background: radial-gradient(#4378a7 ,#0e487a, #003B6F); */
    height: 100vh;
    width: 100vw;
}
.menu-enter.map {
    padding: 15px;
    cursor: pointer;
}
.sv-map {
    height: 70%;
    width: 95%;
    margin: auto;
    position: absolute;
    top: 80px;
    right: 2.5%;
    z-index: 1;
    box-shadow: 1px 1px 1px #000814;

}
.map-question-btn-box {
    padding: 15px;
    z-index: 2;
    cursor: pointer;
    padding-left: 50px;
}

.map-random-btn-text {
    position: absolute;
    color: #ffffff;
    font-family: 'Futura';
    padding-top: 40px;
    font-size: 18px;
    text-align: right;
    line-height: 26px;
    padding-left: 20px;
    }
    
    .map-question-mark {
        position: relative;
        padding-left: 115px;
        z-index: 2;
        height: 120px;
    }


@media all and (min-width: 920px) {
    .sv-map {
        margin: auto;
        height: 70%;
        width: 80%;
        top: 60px;
        right: 10%;
    }

}