.map-tardis-box {
    height: 115%;
    width: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

.map-tardis {
    height: 100%;
    width: auto;
    margin: auto;
    padding-top: 5%;
}

.sv-map {
    height: 69%;
    width: 70%;
    margin: auto;
    position: absolute;
    top: 220px;
    z-index: 1;
}


@media all and (min-width: 920px) {
    .map-tardis-box {
        height: 100%;
        padding-top: 8%;
    }

    .sv-map {
        height: 65%;
        width: 62%;
        top: 233px;
    }

}