.map-bg {
    background-color: #021D34;    
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
}
.menu-enter.map {
    padding: 15px;
    cursor: pointer;
    position: absolute;
    z-index: 2;
    right: 0;
    cursor: pointer;
    font-family: 'Futura';
    font-size: 18px;
    line-height: 20px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    color: #ffffff;
}

.menu-enter.map>p {
    padding-right: 10px;
    text-shadow: 1px 1px 5px #021D34;

}
.menu-enter.map>img {
    height: 36px;
    margin-top: 2px;
    background-color: rgba(2, 29, 52, 0.3);

    /* background: rgba(2, 29, 52, 0.205); */
    border-radius: 10px;
    cursor: pointer;

}

.arrow {
    position: absolute;
    z-index: 6;
    right: 15px;
    top: 45%;
    background-color: rgba(2, 29, 52, 0.6);
    border-radius: 20px;
    height: 40px;
}

.left-arrow {
    position: absolute;
    z-index: 6;
    right: 15px;
    top: 45%;
    background-color: rgba(2, 29, 52, 0.521);
    border-radius: 20px;
    height: 40px;
}

/* .photo-btn {
    position: relative;
    bottom: 10px;
} */

.photo {
    height: 100vh;
    width: auto;
    margin: auto;
    position: relative;
    opacity: 0;
    transition: all .6s ease; 
}
.appear {
    opacity: 1;
}

.photo-info>p {
    font-family: 'Futura';
    position: absolute;
    z-index: 5;
    color: #ffffff;
    margin: auto;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-left: 15px;
    text-shadow: 1px 1px 5px #021D34;
}

.city {
    position: relative;
    margin-top: 10px;
    text-shadow: 1px 1px 5px #021D34;
}

.country {
    top: 25px;
    text-shadow: 1px 1px 5px #021D34;
}

.name {
    top: 50px;
    text-shadow: 1px 1px 5px #021D34;
}

.link {
    bottom: 20px;
    left: 10px;
    font-family: 'Futura';
    color: #ffffff;
    text-shadow: 1px 1px 5px #021D34;
}

.photographer {
    left: 10px;
    bottom: 40px;
    width: 140px;
    height: 55px;
    text-shadow: 1px 1px 5px #021D34;
}

.map-question-btn-box {
    position: absolute;
    /* padding: 15px; */
    z-index: 2;
    cursor: pointer;
    right: 15px;
    bottom: 15px;
    /* background: rgba(0, 59, 111, 0.15);
    border-radius: 40px; */
}

.map-random-btn-text {
    position: absolute;
    color: #ffffff;
    font-family: 'Futura';
    padding-top: 40px;
    font-size: 18px;
    text-align: right;
    line-height: 26px;
    text-shadow: 5px 5px 15px #003B6F;

    }
    
    .map-question-mark {
        position: relative;
        padding-left: 100px;
        z-index: 2;
        height: 120px;
    }
    @media all and (min-width: 500px) and (max-width: 920px) {

    .photo {
       display: flex;
    }
    .menu-enter.map{
        padding: 40px;
    }
    .photo-info>p {
        padding: 40px;
    }

    .link {
        bottom: 40px;
        left: 40px;
    }
    .photographer {
        left: 40px;
        bottom: 40px;
    }
    
    .map-question-btn-box {
        top: 580px;
        position: absolute;
        right: 20px;
    }


    .arrow {
        right: 40px;
    }
}


@media all and (min-width: 920px) {
    .photo {
       display: flex;
    }

    .menu-enter.map{
        padding: 50px;
    }

    .photo-info>p {
        padding: 50px;
    }

    .link {
        bottom: 50px;
        left: 50px;
    }
    .photographer {
        left: 50px;
        bottom: 80px;
    }

    .map-question-btn-box {
        position: absolute;
        right: 50px;
        bottom: 50px;
        padding: 0px;
    }

    .arrow {
        right: 50px;
    }
}